.containerv{
  width: 1100px;
  height: 480px;
  display: flex;   
  background: rgb(238, 236, 236);
}

.containerv .videos{
  width: 20%;
  padding: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerv .videos video{
  width: 95%;
  height: 100px;
  margin: 10px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s;
}

.containerv .videos video:nth-child(1){
  margin-top: 0;
}

.containerv .videos video:hover,
.containerv .videos .active{
  transform: scale(1.06);
  border: 3px solid blue;
}

.containerv .main-video{
  width: 80%;
  padding: 10px;
}

.containerv .main-video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid blue;
}

@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;
  
  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation:p 1s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}
